<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">
                Lists
            </h1>
            <div class="list-menu">

                @for(list of lists;track list._id){
                <a class="list-menu-item" [routerLink]="['/lists',list._id]" routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>

                }

            </div>
            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>
        <div class="task-list-container has-background-light">
            @if(tasks){
            <div>
                <div class="top-bar">
                    <h1 class="title has-text-primary">
                        Tasks
                    </h1>

                    <div class="dropdown is-hoverable is-right">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span class="icon is-small">
                                    <i class="fas fa-cog" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">

                            <div class="dropdown-content">
                                <a [routerLink]="['/edit-list/',selectedListId]" class="dropdown-item">Edit</a>
                                <a (click)="onDeleteListClick()" class="dropdown-item has-text-danger"> Delete </a>
                            </div>
                        </div>
                    </div>
                </div>

                @for(task of tasks;track task._id){
                <div class="task" (click)="onTaskClick(task)" [class.completed]="task.completed">
                    <div class="task-text">
                        <p>{{task.title}}</p>

                    </div>
                    <div class="task-buttons" (click)="$event.stopPropagation()">

                        <button class="button" [routerLink]="['/lists',selectedListId,'edit-task',task._id]">
                            <div class="icon">
                                <i class="fas fa-edit">

                                </i>
                            </div>
                        </button>
                        <button class="button is-danger" (click)="onTaskDeleteClick(task?._id)"
                            style="margin-left:10px">

                            <div class="icon">
                                <i class="fas fa-trash">

                                </i>
                            </div>
                        </button>
                    </div>
                </div>
                }
                <button routerLink="./new-task" class="circle-add-button button is-primary">

                    <img src="assets/plus-icon.svg" alt="icon" class="has-text-white">

                </button>
                @if(tasks.length === 0){
                <h3 class="empty-state-text">There are no tasks here! click the add button to create a new task</h3>

                } <!-- Task Element -->

                @if(!tasks){
                <div>
                    <h3 class="empty-state-text">Please select a list from the sidebar</h3>

                </div>
                }

                <li class="nav-item">
                    <a class="nav-link" (click)="logout()">Logout</a>
                </li>



            </div>
            }

        </div>
    </div>